.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
}

.App-header {
    padding-top: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(11,7vh);
    grid-gap: 2vh;
    font-size: calc(10px + 2vmin);
    color: white;
    border-width: 10px;
}

.Increment {
    grid-column: 2;
    grid-row: 3;
    justify-content: center !important;
}

.display {
    display: flex;
    grid-column: 2;
    background-color: #388e3c !important;
    opacity: 0.7;
    border-style: solid;
    border-radius: 4vh;
    border-color: red;
    border-width: 0.3vh;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
}


.tab {
    grid-column: span 1;
    grid-row: 10;
    width: 100%;
}



