.upgradeTier1 {
    grid-column: span 1;
    background-color: #3f51b5 !important;
    color: white !important;
}

.upgradeTier2 {
    grid-row: span 1;
    background-color: #388e3c !important;
    color: white !important;
}



